name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true

env:
  # Minimum Supported Rust Version for backon
  BACKON_MSRV: "1.70"

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Format
        run: cargo fmt --all -- --check
      - name: Clippy
        run: cargo clippy --all-features --all-targets -- -D warnings

  msrv-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install
        run: rustup toolchain install ${BACKON_MSRV}
      - name: Check MSRV
        run: cargo +${BACKON_MSRV} test --features tokio-sleep
        env:
          RUST_LOG: DEBUG
          RUST_BACKTRACE: full

  unit:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Test
        run: cargo test --all-features
        env:
          RUST_LOG: DEBUG
          RUST_BACKTRACE: full

  nightly-unit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: rustup toolchain install nightly
      - name: Test
        run: cargo +nightly test --all-features
        env:
          RUST_LOG: DEBUG
          RUST_BACKTRACE: full
          RUSTDOCFLAGS: "--cfg docsrs"

  wasm-unit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install
        run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
      - run: wasm-pack test --node --all-features
        env:
          RUST_LOG: DEBUG
          RUST_BACKTRACE: full
